// studio section starts

.studio {
    width: 93%;
    margin: 36px auto 10px;

    ul { @include flex(row,space-between);}

    li {
        position: relative;

        div {
            padding: 65px 13% 0;
            position: absolute;
            top: 0;
            text-transform: uppercase;
            font-size: 30px;

            a {
                margin: 13px 5%;
                color: $primary-color;
                text-indent: -9999px;
    
                &::before { @include icon('\f101',25px);}
            }
        }

        h3 { 
            margin: 4px 0;
            font-weight: 600;
            line-height: 1.4;
        }

        .more {
            width: 100%;
            min-height: 100%;
            position: absolute;
            top: 0;
            background-color: $primary-background-color;
            text-align: center;
            cursor: pointer;
            opacity: 0;
            
            a { 
                width: 22%;
                margin-top: 140px;
                color: #b31d7f;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 600;

                &::after { @include icon('\f101',19px);}
            }
        }
    }
}

// studio section ends